<!-- DEFINE $CURRENT_PAGE = 'forum' --><!-- INCLUDE overall_header.html -->

<!-- IF U_MCP or S_WATCH_FORUM_LINK or (S_HAS_SUBFORUM and U_MARK_FORUMS and not S_IS_BOT) -->
<nav class="links links-right"><div>
	<!-- IF U_MCP -->
		<!-- DEFINE $S_FORUM_NAV = true -->
		<a href="{U_MCP}">{L_MCP}</a>
	<!-- ENDIF -->
	<!-- IF S_WATCH_FORUM_LINK -->
		<!-- IF $S_FORUM_NAV --> <span class="bull">&bull;</span> <!-- ENDIF --><!-- DEFINE $S_FORUM_NAV = true -->
		<a href="{S_WATCH_FORUM_LINK}">{S_WATCH_FORUM_TITLE}</a>
	<!-- ENDIF -->
	<!-- IF S_HAS_SUBFORUM and U_MARK_FORUMS and not S_IS_BOT -->
		<!-- IF $S_FORUM_NAV --> <span class="bull">&bull;</span> <!-- ENDIF --><!-- DEFINE $S_FORUM_NAV = true -->
		<a href="{U_MARK_FORUMS}">{L_MARK_SUBFORUMS_READ}</a>
	<!-- ENDIF -->
</div></nav>
<!-- ENDIF -->

<h1><a href="{U_VIEW_FORUM}">{FORUM_NAME}</a></h1>
<!-- IF FORUM_DESC --><p class="forum-desc">{FORUM_DESC}</p><!-- ENDIF -->

<!-- IF S_FORUM_RULES -->
<article class="rules<!-- IF U_FORUM_RULES --> clickable<!-- ENDIF -->"><div>
	<!-- IF U_FORUM_RULES -->
		<p><a href="{U_FORUM_RULES}">{L_FORUM_RULES}</a></p>
	<!-- ELSE -->
		<h1>{L_FORUM_RULES}</h1>
		{FORUM_RULES}
	<!-- ENDIF -->
</div></article>
<!-- ENDIF -->

<!-- IF S_HAS_SUBFORUM --><!-- INCLUDE forumlist_body.html --><!-- ENDIF -->

<!-- IF ((S_HAS_SUBFORUM and U_MARK_FORUMS) or U_MARK_TOPICS) and not S_IS_BOT -->
<nav class="links links-right"><div>
	<!-- IF S_WATCH_FORUM_LINK -->
		<div class="left">
			<a href="{S_WATCH_FORUM_LINK}">{S_WATCH_FORUM_TITLE}</a>
		</div>
	<!-- ENDIF -->
	<!-- IF S_HAS_SUBFORUM and U_MARK_FORUMS -->
		<a href="{U_MARK_FORUMS}">{L_MARK_SUBFORUMS_READ}</a>
		<!-- IF U_MARK_TOPICS --> <span class="bull">&bull;</span> <!-- ENDIF -->
	<!-- ENDIF -->
	<!-- IF U_MARK_TOPICS -->
		<a href="{U_MARK_TOPICS}">{L_MARK_TOPICS_READ}</a>
	<!-- ENDIF -->
</div></nav>
<!-- ENDIF -->

<div class="topic-actions before">
	<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
		<p class="big-buttons">
			<!-- IF S_IS_LOCKED -->
				<a href="{U_POST_NEW_TOPIC}" class="locked">{L_FORUM_LOCKED}</a>
			<!-- ELSE -->
				<a href="{U_POST_NEW_TOPIC}" class="new-topic">{L_POST_TOPIC}</a>
			<!-- ENDIF -->
		</p>
	<!-- ENDIF -->
	<!-- IF S_DISPLAY_SEARCHBOX -->
		<section class="search">
			<form action="{S_SEARCHBOX_ACTION}" method="post">
			<fieldset>
				<input type="text" name="keywords" title="{L_SEARCH_FORUM}">
				<input class="main" type="submit" value="{L_SEARCH}">
				{S_SEARCH_LOCAL_HIDDEN_FIELDS}
			</fieldset>
			</form>
		</section>
	<!-- ENDIF -->
	
	<!-- IF PAGINATION -->
		<p class="pagination">
			<span class="page-current">{PAGE_NUMBER}</span>
			{PAGINATION}
		</p>
	<!-- ENDIF -->
</div>

<!-- IF .topicrow -->
	<!-- INCLUDE topiclist_body.html -->
	<div class="topic-actions after">
		<!-- IF not S_IS_BOT and S_DISPLAY_POST_INFO -->
			<p class="big-buttons">
				<!-- IF S_IS_LOCKED -->
					<a href="{U_POST_NEW_TOPIC}" class="locked">{L_FORUM_LOCKED}</a>
				<!-- ELSE -->
					<a href="{U_POST_NEW_TOPIC}" class="new-topic">{L_POST_TOPIC}</a>
				<!-- ENDIF -->
			</p>
		<!-- ENDIF -->
		<!-- IF PAGINATION -->
			<p class="pagination">
				<span class="page-current">{PAGE_NUMBER}</span>
				{PAGINATION}
			</p>
		<!-- ENDIF -->
	</div>
<!-- ELSEIF S_IS_POSTABLE -->
<section class="panel"><div>
	<h1>{L_TOPICS}</h1>
	<p>{L_NO_TOPICS}</p>
</div></section>
<!-- ENDIF -->

<!-- INCLUDE overall_footer.html -->
